@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  font-size: 1.2rem;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    190deg,
    rgba(122, 145, 138, 1) 15%,
    rgba(246, 246, 246, 1) 50%,
    rgba(81, 117, 117, 1) 85%
  );
}
